.head{
	background-color : blue;
	width: 100%;
	height: 50px;
	color :white;
	font-size :30px;
	text-align: center;
}
.navi{
	background-color: orange;
	width: 100%;
	color : white;
	padding: 10px;
}

.menu-item{
	color: white;
	text-align: center;
	margin-left: 300px;
}
.foot{
	background-color: red;
	width:100%;
	font-size:13px;
	color:white;
	height:4%;
	background-color:rgb(236, 121, 156);
	position: absolute;
	bottom: 1;
	left: 0;
}
.aside{
	width :15%;
	height :475px;
	background-color: green;
	padding: 10px;
}
.side-items{
	margin-top: 100px;
	color:white;
}
.uiview1{
	border:3px;
	width:100%;
	height:73%;
	margin:2px;
    border-style: solid;
	border-color:grey;
}
.form-style{
	width:50%;
}