<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Contacts</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="libs/0bootstrap.css">
	<link rel="stylesheet" type="text/css" href="libs/font-awesome.min.css">
</head>
<body ng-controller = "IndexCtrl">
<header class="head">Welcome to Contacts App</header>
<nav class="navi">
<a ui-sref="show" class="menu-item">Show Contacts</a>
<a ui-sref="add" class="menu-item">Add Contacts</a>
<a ui-sref="search"  class="menu-item">Search Contacts</a>
</nav>
<!-- <aside class="aside">
    <a ng-click="show()" class="side-items">Show Contacts</a>
    <a ng-click="add()" class="side-items">Add Contacts</a>
    <a ng-click="edit()" class="side-items">Edit Contacts</a>
</aside> -->
<div class="uiview1" ui-view></div>
<footer class = "foot">All Rights Reserved</footer>

</body>
<script type="text/javascript" src="libs/0angular.js"></script>
<script type="text/javascript" src="libs/1angular-ui-router.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
