<form class="form-style" ng-submit="search(searchName)">
		<label>Enter Name</label>
		<input type="text" ng-model="searchName" class="form-control" ><br>

		<button type="submit" class="btn btn-primary">Search</button>

</form>
<div ng-if="haveSearchData" class="alert alert-success" ng-show="contactAdded" role="alert">Contact Added Successfully</div>
