<table class="table">
	<tr>
	<th>No.</th>
	<th>Name</th>
	<th>Mobile</th>
	</tr>

	<tr ng-repeat="contact in contactList" >
		<td>{{$index}}</td>
		<td ng-click="goToEditState($index)">{{contact.name}}</td>
		<td>{{contact.mobile}}</td>
		<td ng-click="delete($index)"><i class="fa fa-times"></i></td>
	</tr>

</table>
