<form class="form-style" ng-submit="add(newContact)">
		<label>Enter Name</label>
		<input type="text" ng-model="newContact.name" class="form-control" ><br>

		<label>Enter Mobile number:</label>
		<input type="text" ng-model="newContact.mobile" class="form-control" ><br>	

		<button type="submit" class="btn btn-primary">Submit</button>

</form>
<button ng-click="search()" class="btn btn-primary">Search</button>
<div class="alert alert-success" ng-show="contactAdded" role="alert">Contact Added Successfully</div>
<div ui-view></div>